body {
  background-color: gainsboro;
}

hr {
  border: 1px solid #393e46;
}

.instructionText {
  margin-bottom: 10px;
}

.inputContainer {
  margin-bottom: 20px;
}

.resultsContainer {
  padding-left: 10px;
}

#saveAccessTokenButton {
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 5px;
}

#authenticatedUser {
  padding-top: 10px;
}

.repoSelectContainer {
  display: inline-block;
  width: 414px;
}

.repo-select-width {
  width: 414px;
}

#collectPullRequestsButton {
  vertical-align: top;
  margin-left: 6px;
  margin-top: 10px;
}

#pulls {
  display: flex;
  flex: 400px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pullRequestCard {
  width: 400px;
  margin: 20px;
}

.pullRequestCard__primary {
  padding: 1rem;
}

.pullRequestCard__title {
  margin: 0;
}

.pullRequestCard__subtitle {
  margin: 0;
}

.pullRequestCard__secondary {
  padding: 0 1rem 8px;
}
