body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #222831; /* https://colorhunt.co/palette/2763 */
  color: #eeeeee;
}

hr {
  border: 1px solid #393e46;
}

.inputContainer {
  margin-bottom: 20px;
}

.errorText {
  color: #ffb000;
}

.resultsContainer {
  padding-left: 10px;
}

.resultsText {
  color: #00adb5;
}
